*{
    list-style-type: none;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --main-padding-top: 100px;
}
.title{
   display: flex;
   justify-content: center;
}
.title h2{
    width: fit-content;
    margin-bottom: 40px;
    color: #343434;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    z-index: 2;
}
.title h2:after{
    content: '';
    width: 100%;
    height: 24px;
    background-image: url(../imgs/dots.png);
    position: absolute;
    top: 54%;
    left: 0;
    z-index: -1;
}

/************************ Navbar ************************/
nav{
    background-color: rgba(0, 0, 0, 0.564);
}
nav a{
    color: #fff !important;
    padding: 0 !important;
}
nav .navbar-brand{
    font-size: 18px;
    font-weight: 800;
}
nav ul a{
    font-size: 14px !important;
    font-weight: 400 !important;
}
nav ul .active{
    position: relative;
}
nav ul .active:after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 19px;
    left: 0;
}

/************************ Home Section ************************/
#home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.63) 0% 100%), url(../imgs/bg.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
}
#home .content{
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .content .txt > span{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    display: inline-block;
}
#home .content .txt h1{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 30px;
}
#home .content .txt h1 span{
   font-weight: 100;
}
#home .content .txt .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .content .txt .icons a{
    color: #fff;
    margin-right: 5px;
}
#home .content .txt .icons i{
    width: 35px;
    height: 35px;
    background-color: #00000066;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
/************************ About Section ************************/
#about{
    padding-top: var(--main-padding-top);
    padding-bottom: 70px;
}
#about .about-img{
    width: 100%;
    position: relative;
    padding-left: 20px;
}
#about .about-img:after{
    content: '';
    width: 86%;
    height: 80%;
    background-image: url(../imgs/dots.png);
    position: absolute;
    top: 26%;
    right: 15.5%;
    z-index: -1;
}
#about .about-content h2{
    font-size: 30px;
    font-weight: 800;
    color: #343434;
    margin-bottom: 0;
}
#about .about-content .desc{
    font-size: 14px;
    color: #999999;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin-bottom: 20px;
}
#about .about-content p{
    font-size: 15px;
    color: #748182;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
#about .about-content p span{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
#about .about-content .skills .progress{
    height: 24px;
    margin-bottom: 32px;
    background-color: #F7F7F7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}
#about .about-content .skills .progress-bar{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#about .about-content .skills .fst{
    font-size: 13px;
    font-weight: 500;
}
#about .about-content .skills .sec{
    font-size: 11px;
}
#about .about-content .buttons{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
#about .about-content .buttons a{
    font-size: 13px;
    padding: 10px 28px 9px;
}
#about .about-content .buttons .diff:hover{
    background-color: white;
    border-color: black;
    color: black;
}
/************************ Services Section ************************/
#services{
    padding-top: var(--main-padding-top);
    padding-bottom: 40px;
    background-color: #F7F7F7;
}
#services .content{
    background-color: #fff;
    padding: 50px 0 30px;
    margin-inline: 3px;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}
#services .content:hover i{
    background-color: #000;
    color: white;
}
#services .content .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .content i{
    font-size: 30px;
    width: 70px;
    height: 70px;
    background-color: #F4F4F4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transition: 0.5s background-color ease, 0.5s color ease;
}
#services .content h3{
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 5px;
    color: rgba(52, 52, 52, 1);
}
#services .content p{
    font-size: 14px;
    padding-inline: 30px;
    color: #748182;
    font-family: 'Poppins', sans-serif;
}
/************************ Portfolio Section ************************/
#works{
    padding-top: var(--main-padding-top);
    padding-bottom: 90px;
}
#works .links{
   padding-bottom: 30px;

}
#works .links button{
    font-weight: 700;
    margin-right: 25px;
    font-family: 'Poppins', sans-serif;
}
#works .links .active{
    position: relative;
}
#works .links .active:after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 26px;
    left: 1px;
}
#works .work-img{
    position: relative;
    overflow: hidden;
}
#works .work-img .layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s transform ease;
}
#works .work-img .layer:hover{
    transform: translateY(-10px);
}
#works .work-img .layer:hover .layer-content{
    opacity: 1;
}
#works .work-img .layer:hover .layer-content .txt h3{
    transform: translateY(0px);
}
#works .work-img .layer .layer-content{
    height: 97%;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: 0.5s opacity ease;
}
#works .work-img .layer .layer-content .txt h3{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-align: center;
    transform: translateY(-15px);
    transition: 0.5s transform ease;
}
#works .work-img .layer .layer-content .icons i{
    font-size: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s background-color ease, 0.3s border ease;
}
#works .work-img .layer .layer-content .icons a{
    color: #fff;
    margin-left: 3px;
    transition: 0.3s color ease;
}
#works .work-img .layer .layer-content .icons a:hover i{
    background-color: #fff;
    border: 1px solid #000;
}
#works .work-img .layer .layer-content .icons a:hover{
    color: #000;
}

/************************ Testimonial Section ************************/
#clients{
    padding-top: var(--main-padding-top);
    padding-bottom: 100px;
    background-color: #F7F7F7;
}
#clients .title h2{
    margin-bottom: 70px;
}
#clients .carousel-indicators{
    bottom: -50px;
}
#clients .carousel-indicators [data-bs-target]{
    background-color: #869791;
}
#clients .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 12px;
}
#clients .carousel-item{
    text-align: center;
}
#clients .carousel-item img{
    width: 90px;
    height:90px;
}
#clients .carousel-item .carousel-caption{
    position: static;
    color: black;
}
#clients .carousel-item .carousel-caption p{
    margin: auto;
    width: 75%;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #7A8687;
    margin-bottom: 26px;
    word-spacing: 2px;
}
#clients .carousel-item .carousel-caption h5{
    font-size: 16px;
    font-weight: 600;
    color: #343434;
}
#clients .carousel-item .carousel-caption h6{
    font-size: 12px;
    font-weight: 600;
    color: #8A8A8A;
}
/************************ achievements Section ************************/
.achievement{
    padding-block: 80px;
}
.achievement .content i{
    font-size: 30px;
    color: #343434;
}
.achievement .content span{
    font-size: 30px;
    font-weight: 900;
    color: #343434;
    display: inline-block;
    padding-block: 14px;
}
.achievement .content p{
    font-size: 15px;
    font-weight: 600;
    color: #748182;
    font-family: 'Poppins', sans-serif;
}
/************************ Team Section ************************/
#team {
    padding-top: var(--main-padding-top);
    padding-bottom: 80px;
    background-color: #F7F7F7;
}
#team .team-content .team-img{
    position: relative;
    overflow: hidden;
}
#team .team-content .team-img img{
    transition: 0.5s transform ease;
}
#team .team-content .team-img:hover img{
    transform: scale(1.2);
}
#team .team-content .team-img .layer{
    width: 97%;
    height: 97.3%;
    position: absolute;
    top: 1.4%;    
    left: 1.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffffff5;
    transform: rotateY(180deg) scale(0.5);
    opacity: 0;
    transition: 0.5s transform ease-in-out, 0.5s opacity ease-in-out;
}
#team .team-content:hover .team-img .layer{
    transform: rotateY(0deg) scale(1);
    opacity: 1;
}
#team .team-content .team-img .layer .icons{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#team .team-content .team-img .layer .icons a{
    font-size: 18px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    transition: 0.3s color ease, 0.3s  background-color ease, 0.3s border ease;
}
#team .team-content .team-img .layer .icons a:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}
#team .team-content .team-txt{
    color: #fff;
    background-color: #5B5B5B;
    text-align: center;
    padding: 25px 23px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#team .team-content .team-txt h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1px;
}
#team .team-content .team-txt h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}
/************************ Contact Section ************************/
#contact{
    padding-top: var(--main-padding-top);
    padding-bottom: 80px;
}
#contact .details:hover .icon i{
    background-color: #1C1C1C;
    color: #fff;
} 
#contact .details .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .details .icon i{
    width: 60px;
    height: 60px;
    background-color: #F7F7F7;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}
#contact .details span{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #343434;
    padding-block: 10px;
}
#contact .details p{
    font-size: 15px;
    color: #748182;
    font-family: 'Poppins', sans-serif;
}

#contact form input, #contact form textarea{
 padding: 10px;
 background-color: #F4F4F4;
 font-family: 'Poppins', sans-serif;
 border: none;
 border-radius: 5px;
}
#contact form input:focus, #contact form textarea:focus{
   outline: 0;
}
#contact form ::placeholder{
    font-size: 14px;
}
#contact form button{
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    border-radius: 5px;
    margin-left: 12px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    padding: 9px 40px;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out, 0.3s border ease-in-out;
}
#contact form button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
/************************ Footer ************************/
footer{
    padding-block: 30px ;
    text-align: center;
    background-color: #1C1C1C;
}
footer p{
    margin-bottom: 0;
    color: rgba(116, 129, 130, 1);
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 2px;
}
/************************ Media Query ************************/
@media screen and (max-width: 700px){
    #home .content .txt h1{
        font-size: 2.3rem;
    }
}


